<?xml version='1.0' encoding='utf-8'?>
<plugin id="emesa-app-icon-changer" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>EmesaAppIconcChanger</name><js-module name="EmesaAppIconcChanger" src="www/EmesaAppIconcChanger.js"><clobbers target="cordova.plugins.EmesaAppIconcChanger" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="EmesaAppIconcChanger"><param name="ios-package" value="EmesaAppIconcChanger" /></feature></config-file><source-file src="src/ios/EmesaAppIconcChanger.m" /></platform></plugin>